/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
database/migrations_backup_20251007
/.phpunit.cache
nul
app/nul
phpstan_report.json
*.backup
*.old
database/sql/
